In [1]:
import pandas as pd
import glob

In [2]:
dec_path = 'Data Last Five Decembers/'
dec_data = sorted(glob.glob(dec_path + "*.csv"))

In [3]:
year_path = 'Data_One _Year/'
year_data = sorted(glob.glob(year_path + "*.csv"))

In [4]:
dummy = pd.read_csv('Data Last Five Decembers/On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2013_12.csv')

/Users/akhilpunia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
dummy.head()

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2013,4,12,16,1,2013-12-16,DL,19790,DL,N552NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013,4,12,16,1,2013-12-16,DL,19790,DL,N907DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013,4,12,16,1,2013-12-16,DL,19790,DL,N924DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013,4,12,16,1,2013-12-16,DL,19790,DL,N924DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013,4,12,16,1,2013-12-16,DL,19790,DL,N908DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
for i,name in enumerate(dummy.columns):
    print(i, name)

0 Year
1 Quarter
2 Month
3 DayofMonth
4 DayOfWeek
5 FlightDate
6 Reporting_Airline
7 DOT_ID_Reporting_Airline
8 IATA_CODE_Reporting_Airline
9 Tail_Number
10 Flight_Number_Reporting_Airline
11 OriginAirportID
12 OriginAirportSeqID
13 OriginCityMarketID
14 Origin
15 OriginCityName
16 OriginState
17 OriginStateFips
18 OriginStateName
19 OriginWac
20 DestAirportID
21 DestAirportSeqID
22 DestCityMarketID
23 Dest
24 DestCityName
25 DestState
26 DestStateFips
27 DestStateName
28 DestWac
29 CRSDepTime
30 DepTime
31 DepDelay
32 DepDelayMinutes
33 DepDel15
34 DepartureDelayGroups
35 DepTimeBlk
36 TaxiOut
37 WheelsOff
38 WheelsOn
39 TaxiIn
40 CRSArrTime
41 ArrTime
42 ArrDelay
43 ArrDelayMinutes
44 ArrDel15
45 ArrivalDelayGroups
46 ArrTimeBlk
47 Cancelled
48 CancellationCode
49 Diverted
50 CRSElapsedTime
51 ActualElapsedTime
52 AirTime
53 Flights
54 Distance
55 DistanceGroup
56 CarrierDelay
57 WeatherDelay
58 NASDelay
59 SecurityDelay
60 LateAircraftDelay
61 FirstDepTime
62 TotalAddGTime
63 LongestAddGTime
64 DivAirportLandings
65 DivReachedDest
66 DivActualElapsedTime
67 DivArrDelay
68 DivDistance
69 Div1Airport
70 Div1AirportID
71 Div1AirportSeqID
72 Div1WheelsOn
73 Div1TotalGTime
74 Div1LongestGTime
75 Div1WheelsOff
76 Div1TailNum
77 Div2Airport
78 Div2AirportID
79 Div2AirportSeqID
80 Div2WheelsOn
81 Div2TotalGTime
82 Div2LongestGTime
83 Div2WheelsOff
84 Div2TailNum
85 Div3Airport
86 Div3AirportID
87 Div3AirportSeqID
88 Div3WheelsOn
89 Div3TotalGTime
90 Div3LongestGTime
91 Div3WheelsOff
92 Div3TailNum
93 Div4Airport
94 Div4AirportID
95 Div4AirportSeqID
96 Div4WheelsOn
97 Div4TotalGTime
98 Div4LongestGTime
99 Div4WheelsOff
100 Div4TailNum
101 Div5Airport
102 Div5AirportID
103 Div5AirportSeqID
104 Div5WheelsOn
105 Div5TotalGTime
106 Div5LongestGTime
107 Div5WheelsOff
108 Div5TailNum
109 Unnamed: 109

In [14]:
keep_columns = ['Year','DayOfWeek','Month','FlightDate','Reporting_Airline','Tail_Number','IATA_CODE_Reporting_Airline','Origin',
                'OriginAirportID','OriginCityName','OriginStateName','Dest','DestAirportID','DestCityName',
                'DestStateName','CRSDepTime','DepDelay','DepDelayMinutes','ArrDelay','ArrDelayMinutes','Distance',
                'DistanceGroup','Cancelled','CancellationCode','CarrierDelay','WeatherDelay','NASDelay',
                'SecurityDelay','LateAircraftDelay','ActualElapsedTime','CRSArrTime' ]

In [9]:
keep_columns_2 =['Year','DayOfWeek','DayofMonth','Month','FlightDate','Reporting_Airline','Tail_Number','IATA_CODE_Reporting_Airline','Origin',
                'OriginAirportID','OriginCityName','OriginStateName','Dest','DestAirportID','DestCityName',
                'DestStateName','CRSDepTime','DepDelay','DepDelayMinutes','ArrDelay','ArrDelayMinutes','Distance',
                'DistanceGroup','Cancelled','CancellationCode','CarrierDelay','WeatherDelay','NASDelay',
                'SecurityDelay','LateAircraftDelay']

In [10]:
for i,f in enumerate(dec_data):
    df = pd.read_csv(f)
    print('file {} read'.format(i))
    if i == 0:
        data = df[keep_columns_2]
    else:
        df2 = df[keep_columns_2]
        newdata = pd.concat([data,df2])
        data = newdata.copy()
        
data.to_csv('02_december_data.csv')

/Users/akhilpunia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 0 read

/Users/akhilpunia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 1 read

/Users/akhilpunia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (76,77,84,85) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 2 read

/Users/akhilpunia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 3 read
file 4 read

In [11]:
data['Year'].value_counts()

2013    516739
2015    479230
2014    477183
2017    464205
2016    460949
Name: Year, dtype: int64

In [15]:
for i,f in enumerate(year_data):
    df = pd.read_csv(f)
    print('file {} read'.format(i))
    if i == 0:
        data = df[keep_columns]
    else:
        df = df[keep_columns]
        data = pd.concat([data,df])
        
data.to_csv('01_year_data.csv')

/Users/akhilpunia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (48,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 0 read

/Users/akhilpunia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (48,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 1 read
file 2 read

/Users/akhilpunia/anaconda/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (48,69,76,77,84) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

file 3 read
file 4 read
file 5 read
file 6 read
file 7 read
file 8 read
file 9 read
file 10 read
file 11 read

In [16]:
data['Month'].value_counts()

7     645299
8     644673
6     626193
5     616529
3     611987
4     596046
9     585749
1     570118
2     520731
10    479797
12    464205
11    454162
Name: Month, dtype: int64